<h1>Edit Your Story</h1>
<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="article[title]" id="title" value="<%= @article.title %>"><br>
  <textarea name="article[content]" rows="8" cols="80" id="content"> <%= @article.content %></textarea><br>
  <button type="submit" id="submit">Submit</button>
</form>
